$primary: #16abf8;
$background: #f4f4f4;
$danger: #ed4c5c;
$warn: #f8a541;
$success: #00a790;
$info: #428bc1;
$low: #8942c1;
$text-dark: #111111;
$text-dark05: #888888;

$font: "Poppins", sans-serif;
